.social-links {
    text-align: center;
    margin: 40px 0;
}

.social-links h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #c4fad1;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icons a {
    text-decoration: none;
    font-size: 2.5rem;
    transition: transform 0.3s ease;
}

.icons a:hover {
    transform: scale(1.2);
}

.youtube {
    color: #FF0000;
}

.instagram {
    color: #742727;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tiktok {
    color: #000000;
}

.facebook {
    color: #002da5;
}
